.anim div {
    width: 115px;
    height: 115px;
    background: rgb(0, 0, 255);
    animation: flipAround 6s infinite;
    transform-origin: right;
}
@keyframes flipAround {
    10%{
        background:yellowgreen;
        transform-origin:right;
        transform:rotateX(-45deg);
    }
    25%{
        background:red;
        transform-origin:bottom;
        transform:rotateX(-90deg);
    }
    50%{
        background:salmon;
        transform-origin:left;
        transform:rotateY(-70deg);
    }
    75%{
        background:rebeccapurple;
        transform-origin:right;
        transform:rotateZ(-30deg);
    }
    85%{
        background:tomato;
        transform:rotate(-120deg);
    }
    100%{
        background:wheat;
        transform-origin:top;
    }
}
.anim {
    height: 230px;
}